USE [VentasCredimax]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[DNI] [int] NULL,
	[Direccion] [nvarchar](150) NULL,
	[Telefono] [nvarchar](15) NULL,
	[FechaAnulacion] [datetime] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[isDemo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuota]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuota](
	[CuotaId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[MontoCuota] [decimal](18, 2) NOT NULL,
	[NumeroDeCuota] [int] NOT NULL,
	[FechaProgramada] [datetime] NOT NULL,
	[FechaPago] [datetime] NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK_Cuota] PRIMARY KEY CLUSTERED 
(
	[CuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDeSemana]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDeSemana](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaDePago]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaDePago](
	[FormaDePagoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_FormaDePago] PRIMARY KEY CLUSTERED 
(
	[FormaDePagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReciboControl]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReciboControl](
	[Serie] [int] NOT NULL,
	[NumeroSecuencial] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[VendedorId] [int] IDENTITY(1,1) NOT NULL,
	[NombreYApellido] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](15) NULL,
 CONSTRAINT [PK_Vendedor] PRIMARY KEY CLUSTERED 
(
	[VendedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Articulo] [nvarchar](150) NOT NULL,
	[Talle] [int] NULL,
	[FormaDePagoId] [int] NOT NULL,
	[FechaDeInicio] [date] NOT NULL,
	[FechaDeCancelacion] [date] NULL,
	[FechaAnulacion] [datetime] NULL,
	[Precio] [decimal](18, 2) NULL,
	[Cuotas] [int] NULL,
	[Cantidad] [int] NULL,
	[Total] [decimal](18, 2) NULL,
	[VendedorId] [int] NULL,
	[IdDiaSemana] [int] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Configuracion] ADD  DEFAULT ((1)) FOR [isDemo]
GO
ALTER TABLE [dbo].[ReciboControl] ADD  DEFAULT ((1)) FOR [Serie]
GO
ALTER TABLE [dbo].[ReciboControl] ADD  DEFAULT ((0)) FOR [NumeroSecuencial]
GO
/****** Object:  StoredProcedure [dbo].[ComprobanteDePago]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Ivan>
-- Create date: <Create Date,,15/01/2025>
-- Description:	<Description,,Muestra el detalle de una venta>
-- =============================================
CREATE PROCEDURE [dbo].[ComprobanteDePago]
	@VentaId int 
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

SELECT
	c.Nombre
   ,c.Apellido
   ,c.Telefono
   ,c.Direccion
   ,c.DNI
   ,v.VentaId
   ,v.ClientId
   ,v.Articulo
   ,v.Talle
   ,v.FechaDeInicio
   ,v.Precio
   ,v.Cantidad
   ,v.Total
FROM Venta v
INNER JOIN Cliente c
	ON v.ClientId = c.ClientId
WHERE v.VentaId = @VentaId
END
GO
/****** Object:  StoredProcedure [dbo].[ReciboDePago]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReciboDePago]
    @VentaId INT,
    @NumeroDeCuota INT  
AS
BEGIN
    SET NOCOUNT ON;

    -- Declarar variables para el recibo
    DECLARE @Serie INT;
    DECLARE @NumeroSecuencial INT;
    DECLARE @NuevoNumeroSecuencial INT;
    DECLARE @NumeroRecibo VARCHAR(13);

    -- Obtener valores actuales de Serie y NumeroSecuencial
    SELECT @Serie = Serie, @NumeroSecuencial = NumeroSecuencial FROM ReciboControl;

    -- Incrementar el secuencial
    SET @NuevoNumeroSecuencial = @NumeroSecuencial + 1;

    -- Verificar si el secuencial supera el límite
    IF @NuevoNumeroSecuencial > 99999999
    BEGIN
        SET @NuevoNumeroSecuencial = 1;
        SET @Serie = @Serie + 1;
    END;

    -- Actualizar valores en la tabla de control
    UPDATE ReciboControl
    SET Serie = @Serie, NumeroSecuencial = @NuevoNumeroSecuencial;

    -- Formatear el número de recibo
    SET @NumeroRecibo = RIGHT('0000' + CAST(@Serie AS VARCHAR(4)), 4) + '-' + 
                        RIGHT('00000000' + CAST(@NuevoNumeroSecuencial AS VARCHAR(8)), 8);

    -- Obtener los detalles de la cuota específica con fecha actual
    SELECT
        c.VentaId,
        GETDATE() AS FechaPago, -- Fecha actual del sistema
        cl.Nombre,
        cl.Apellido,
        c.MontoCuota,
        v.Articulo,
        v.Talle,
        c.NumeroDeCuota,
        ISNULL(
            SUM(CASE WHEN c.Estado = 1 THEN c.MontoCuota ELSE 0 END), 0
        ) + c.MontoCuota AS TotalPagado,
        v.Precio - ISNULL(
		(SELECT SUM(MontoCuota) FROM Cuota 
		WHERE VentaId = @VentaId AND Estado = 1), 0) AS SaldoRestante,
        (SELECT COUNT(*) FROM Cuota WHERE VentaId = @VentaId AND Estado = 0) AS CuotasPendientes,
        @NumeroRecibo AS NumeroRecibo
    FROM Venta v
    JOIN Cuota c ON v.VentaId = c.VentaId
    JOIN Cliente cl ON v.ClientId = cl.ClientId
    WHERE c.VentaId = @VentaId AND c.NumeroDeCuota = @NumeroDeCuota
    GROUP BY 
        c.VentaId,
        cl.Nombre,
        cl.Apellido,
        c.MontoCuota,
        v.Articulo,
        v.Talle,
        c.NumeroDeCuota,
        v.Precio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DetalleDeVenta]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DetalleDeVenta]
    @VentaId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
	cl.Nombre AS NombreCliente,
	cl.Apellido AS ApellidoCliente,
	cl.DNI AS DNICliente,
	cl.Direccion AS DireccionCliente,
	cl.Telefono AS TelefonoCliente,
	v.VentaId,
	v.ClientId,
	v.Articulo,
	v.Talle,
	v.FechaDeInicio AS FechaDeVenta,
	v.FechaDeCancelacion AS FechaCancelacionCuotas,
	v.FechaAnulacion,
	v.Precio,
	v.Cuotas,
	c.CuotaId,
	c.MontoCuota,
	c.NumeroDeCuota,
	c.FechaProgramada AS FechaProgramadaDeCuota,
	c.FechaPago AS FechaQuePagoCuota,
	c.Estado AS EstadoCuota,
	fdp.Nombre as FormaDePago

    FROM Venta v
    INNER JOIN Cuota c
    ON v.VentaId = c.VentaId
	INNER JOIN FormaDePago fdp
	ON v.FormaDePagoId = fdp.FormaDePagoId
	INNER JOIN Cliente cl
	ON v.ClientId = cl.ClientId
    WHERE v.VentaId = @VentaId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVentasByClientId]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVentasByClientId]
    @ClientId INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
	cl.Nombre AS NombreCliente,
	cl.Apellido AS ApellidoCliente,
	cl.DNI AS DNICliente,
	cl.Direccion AS DireccionCliente,
	cl.Telefono AS TelefonoCliente,
	v.VentaId,
	v.ClientId,
	v.Articulo,
	v.Talle,
	v.FechaDeInicio AS FechaDeVenta,
	v.FechaDeCancelacion AS FechaCancelacionCuotas,
	v.FechaAnulacion,
	v.Precio,
	v.Cuotas,
	c.CuotaId,
	c.MontoCuota,
	c.NumeroDeCuota,
	c.FechaProgramada AS FechaProgramadaDeCuota,
	c.FechaPago AS FechaQuePagoCuota,
	c.Estado AS EstadoCuota,
	fdp.Nombre
    FROM Venta v
    INNER JOIN Cuota c
    ON v.VentaId = c.VentaId
	INNER JOIN FormaDePago fdp
	ON v.FormaDePagoId = fdp.FormaDePagoId
	INNER JOIN Cliente cl
	ON v.ClientId = cl.ClientId
    WHERE v.ClientId = @ClientId;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentas]    Script Date: 18/7/2025 00:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReporteVentas]
    @FechaDesde DATE,
    @FechaHasta DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
	v.VentaId,
	c.Nombre,
	c.Apellido,
	c.DNI,
	v.Articulo,
	v.Talle,
	v.FechaDeInicio as FechaDeVanta,
	v.Precio,
	v.Cuotas,
	v.Cantidad,
	fp.Nombre as FormaDePago,
	v.Total,
	CASE 
    WHEN v.FechaAnulacion IS NULL THEN 'Pendiente'
    ELSE CONCAT('Cancelada - ', CONVERT(VARCHAR, v.FechaAnulacion, 103))
	END AS Estado
    FROM Venta v
	INNER JOIN Cliente c 
	on v.ClientId = c.ClientId
	INNER JOIN FormaDePago fp
	on v.FormaDePagoId = fp.FormaDePagoId
    WHERE FechaDeInicio BETWEEN @FechaDesde AND @FechaHasta;
END;

GO
